body {
    max-width: 1440px;
    margin: auto;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

main {
    /*height: 100vh;*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B4074;
    padding-top: 17px;
    padding-bottom: 17px;
}

.logo {
    width: 100px;
    height: 66px;
}

.menu {
    width: 40px;
    height: 40px;
}
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/intro.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
    padding-bottom: 213px;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 96px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding-top: 107px;
}

h3 {
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

.intro-text {
    text-align: center;
    font-weight: 400;
}

button {
    width: 200px;
    height: 50px;
    background-color: #2B4074;
    color: #F9F6E5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
}
.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.arrow-button {
    width: 70px;
    height: 70px;
}

.promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2B4074;
    padding-top: 57px;
    padding-bottom: 57px;
}

.promo-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
}

.promo-text {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: auto;
    margin-top: 16px;
}

.promo-button {
    background-color: #F9F6E5;
    color: #2B4074;
}


